:root {
  --size-10: 0.625rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;

  --black: #000000;
  --red: #fe2f02;
  --yellow: #fef700;
  --green: #1bc400;
  --blue: #6495ED;
  --white: #ffffff;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.upper-header {
  display: flex;
  width: 90%;
  margin: var(--size-10) auto 0 auto;
  opacity: 0.5;
}